@font-face {
    font-family: 'Smallburg';
    src: url('../../assets/fonts/smallburg/ttf/smallburg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('../../assets/fonts/exo/Exo-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artsem';
    src: url('../../assets/fonts/Artsem/Artsem-R98Be.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}