@use '../../styles/utils/mixins' as *;
@use '../../styles/utils/variables' as *;

.intro {
    background: $bg-screen;

    &-block {
        @include flex-center;
        flex-direction: column;
        padding: 4rem;
    }
}