@use '../../styles/utils/mixins' as *;
@use '../../styles/utils/variables' as *;

.game {
    background: $bg-screen;
    &-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}