// 🎨 Colors
$primary: lightpink;
$secondary: lightgreen;
$tetriary: skyblue;
$quadriary: lightgoldenrodyellow; //idk im now just comming up with something xD
$bg-color: #eee;
$bg-screen: linear-gradient(45deg, #33775d, rgb(52, 139, 168));

$text-color: #0001;
$heading-color: lightpink;

// ✍️ Typography
$font-family-heading: 'Artsem', sans-serif;
$font-family-base: 'Exo', sans-serif;

$fs-base: 16px;
$fs-h1: 60px;
$fs-h2: 40px;
$fs-h3: 30px;
$fs-h4: 25px;
$fs-h5: 20px;


// 📏 Spacing


// 🔲 Shape
$radius-base: 25px;

// ⚡ Shadows & Effects

// ⏱️ Animation / Transitions