//Base
$bg-color: #eee;
$bg-intro: linear-gradient(45deg, #33775d, rgb(52, 139, 168));

//typography
$text-color: #0001;
$heading-color: lightpink;

$font-family-heading: 'Artsem', sans-serif;
$font-family-base: 'Exo', sans-serif;

$fs-base: 16px;
$fs-h1: 60px;
$fs-h2: 40px;
$fs-h3: 30px;
$fs-h4: 25px;
$fs-h5: 20px;